@page "/"
@using Blazorise.DataGrid
@using InfraEstrutura.Repositorios
@using Almocherifado.core


    <Row>
        <Button Color="Color.Info" Disabled="Eh_Emprestavel()" Clicked="teste">Alocar Ferramenta</Button>
    </Row>


    <Row>
        <DataGrid TItem="Ferramenta"  Data="Ferramentas" Filterable="true"  @bind-SelectedRow="@SelectedFerramenta" >
            <DataGridCommandColumn TItem="Ferramenta">
                <DeleteCommandTemplate>
                    <Button Color="Color.Danger" Clicked="() => OnDeleClicked(context)">Deletar Ferramenta</Button>
                </DeleteCommandTemplate>
            </DataGridCommandColumn>


            <DataGridColumn TItem="Ferramenta" Field="@nameof(Ferramenta.Id)" Caption="Nome">
                <Button>Teste</Button>
            </DataGridColumn>

            <DataGridColumn TItem="Ferramenta" Field="@nameof(Ferramenta.NomeAbreviado)" Caption="Nome" />
            <DataGridColumn TItem="Ferramenta" Field="@nameof(Ferramenta.DataCompra)" Caption="Comprado em" />

            <DataGridColumn TItem="Ferramenta" Field="@nameof(Ferramenta.FotoUrl)" Caption="Foto">
                <DisplayTemplate>
                    <Figure Size="FigureSize.Is128x128">
                        <FigureImage Source="@context.FotoUrl" />
                    </Figure>
                </DisplayTemplate>
            </DataGridColumn>

            <DataGridColumn TItem="Ferramenta" Field="@nameof(Ferramenta.Descrição)" Caption="Descrição" />
        </DataGrid>
    </Row>



@code{
    [Inject] public IFerramentaRepository repository { get; set; }
    List<Ferramenta> Ferramentas { get; set; }

    private Ferramenta ferramenta;

    public Ferramenta SelectedFerramenta
    {
        get { return ferramenta; }
        set { ferramenta = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        Ferramentas = repository.GetallFerramentas().ToList();
    }


    async Task OnDeleClicked(CommandContext<Ferramenta> context)
    {
        repository.DeletarFerramenta(context.Item);
        await context.Clicked.InvokeAsync();
    }

    bool Eh_Emprestavel()
    {
        if (SelectedFerramenta is null)
            return false;

        

        return true;

    }

    void teste()
    {

    }
}
