@page "/AlocarFerramenta"
@using Entities
@inherits FormBase
@code{


}

<div class="container h-100 mt-5">
    <h2> <b> DEVOLVER FERRAMENTA</b></h2>

    <div class="row d-flex justify-content-between my-4 ">
        <FerramentaDisplay TextoBtnConfrimacao="@("Devolver Ferramenta")">
            <MensagemFerramentaDisponível>
                <h4 class="text-danger fw-bold">Ferramenta No Estoque</h4>
            </MensagemFerramentaDisponível>
            <MensagemFerramentaInDisponível>

                <h4 class="text-sucess fw-bold">Ferramenta Alocada</h4>
                <p>@*<b>Responsável:</b>@context.alocacao.Responsavel.Nome*@</p>
                <p><b>AlocadaEm:</b>@context.alocacao.DataAlocacao.ToShortDateString()</p>
                <button class="btn btn-outline-info w-75" 
                        @onclick="() => { 
                                    if (!FerramentasEComentarios.Keys.Contains(context.ferramenta))
                                    FerramentasEComentarios.Add(context.ferramenta, new string(new char[] { }));} ">
                "Devolver Ferramenta"</button>
            </MensagemFerramentaInDisponível>
        </FerramentaDisplay>

        @if (FerramentasEComentarios.Count > 0)
	{
		 
	
        <table class="table mb-5">
            <thead>
                <tr>
                    <th scope="col">PATRIMÔNIO</th>
                    <th scope="col">FERRAMENTA</th>
                    <th scope="col">MARCA</th>
                    <th scope="col">MODELO</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in FerramentasEComentarios)
                {
                    <FerramentaAlocacaoTr Ferramenta="item.Key" ></FerramentaAlocacaoTr>
                }
            </tbody>
        </table>
        }
        <EditForm class="@formClass" Model="devolucaoInput" @ref="form" OnSubmit="OnSubmitAsync">
            <FluentValidationValidator></FluentValidationValidator>


            <div class="row">
                <div class="row w-100">
                    <div class="invalid-feedback w-100 text-center fs-5">
                        <ValidationMessage For="() => devolucaoInput.FerramentasEComentarios"></ValidationMessage>
                    </div>
                </div>

                @foreach (var ferramenta in FerramentasEComentarios)
                {
                    <ComentarioDevolucao Ferramenta="ferramenta.Key" Comentario="@ferramenta.Value"/>
                }


                <div class="d-flex justify-content-end mt-4">
                    <button type="button" @onclick="OnCancelClic" class="btn btn-outline-danger mx-4">Cancelar</button>
                    <button type="button" @onclick="OnSubmitAsync" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>