@using  Entities

@code{
    [Parameter] public Ferramenta Ferramenta { get; set; } 
    [Parameter] public Alocacao Alocacao { get; set; } 


}


<td>
    @Ferramenta.Nome - @Ferramenta.Patrimonio
</td>
<td style="text-align: left;width: 300px;">
    @if (Ferramenta.EmManutencao)
    {
        <span class="text-danger">MANUTENÇÃO</span>
    }else if (Alocacao.Responsavel is not null)
    {
        @Alocacao.Responsavel.Nome
    }

</td>

<td>
    
    @Alocacao.ContratoLocacao
</td>

<td>
    
     @Alocacao.DataAlocacao.ToShortDateString()
</td>


<td>
    @{ 
        var ferramentaalocadainfo = Alocacao.FerramentasAlocadas.FirstOrDefault(d => d.Ferramenta.Patrimonio == Ferramenta.Patrimonio);
            if (ferramentaalocadainfo.Devolvida)
            {
                @ferramentaalocadainfo.DataDevolucao.Value.ToShortDateString();
            }
    }
        
    
</td>