@using Microsoft.AspNetCore.Components.Forms
@using Almocherifado.UI.Components
@using Almocherifado.UI.Components.Forms
@using Syncfusion.Blazor.Inputs



<div class="container h-100 w-100">

    <h2 class="fw-bold my-4">CADASTRO DE FERRAMENTAS</h2>
    <div class="row h-100 w-100" style="margin-left: 0px; margin-right: 0px; ">

        <EditForm OnValidSubmit="@OnValidInput" Model="@FerramentaInput">
            <ValidationSummary/>
            <div class=@formClass>
                <div class="half-contained h-100 me-5 w-100">
                    @*<InputGroup Id="Teste">*@
                     <InputGroup id="NomeInput" >
                        <LabelContent>
                            <b>*</b>Nome
                        </LabelContent>
                        <InvalidValidFeedBack>
                            <InputInfo Text="É necessário informar o nome da ferramenta" Tipo="InputInfoType.Invalid"></InputInfo>
                        </InvalidValidFeedBack>
                        <InputField>
                            <InputText id="NomeInput" @bind-Value="@FerramentaInput.Nome" placeholder="Insira o nome da ferramenta" type="text" class="form-control" />
                        </InputField>
                    </InputGroup>

                    <InputGroup>
                        <LabelContent>
                            <b>*</b>Marca
                        </LabelContent>
                        <InvalidValidFeedBack>
                            <InputInfo Text="É necessário informar A marca da ferramenta" Tipo="InputInfoType.Invalid"></InputInfo>
                        </InvalidValidFeedBack>
                        <InputField>
                            <InputText id="MarcaInput" @bind-Value="@FerramentaInput.Marca" placeholder="Insira a marca da ferramenta" type="text" class="form-control" />
                        </InputField>
                    </InputGroup>

                    <InputGroup>
                        <LabelContent>
                            <b>*</b>Modelo
                        </LabelContent>
                        <InvalidValidFeedBack>
                            <InputInfo Text="É necessário informar o Modelo da ferramenta" Tipo="InputInfoType.Invalid"></InputInfo>
                        </InvalidValidFeedBack>
                        <InputField>
                            <InputText id="ModeloInput" @bind-Value="@FerramentaInput.Modelo" placeholder="Insira o Modelo da ferramenta" type="text" class="form-control" />
                        </InputField>
                    </InputGroup>


                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">

                                <label for="DataDaCompraInput" class="form-label"><b>*</b>Data da Compra:</label>
                                <InputDate  @bind-Value="FerramentaInput.DataDaCompra" id="DataDaCompraInput" type="text" class="form-control" />

                                <div class="invalid-feedback">

                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"><b>*</b>Patrimônio</label>
                                <InputNumber id="ProximoPatrimonio" disabled @bind-Value="@ProximoPatrimonio" class="form-control" />

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                
                <div class="half-contained w-100">
                    @Uploader
               
                <InputGroup>
                    <LabelContent>
                        Descrição
                    </LabelContent>
                    <InputField>
                        <div>
                            <InputTextArea id="DescricaoInput" @bind-Value="FerramentaInput.Descricao" class="w-100 form-control"></InputTextArea>
                        </div>
                    </InputField>
                    <InvalidValidFeedBack>
                        <InputInfo Text="É necessário informar o Modelo da ferramenta" Tipo="InputInfoType.Invalid"></InputInfo>
                    </InvalidValidFeedBack>
                </InputGroup>

                <div class="w-100 d-flex f¨lex-row justify-content-end">
                    <button @onclick="@(() => navMan.NavigateTo("/"))" class="btn btn-outline-danger mx-4">Cancelar</button>
                    <button type="submit" class="btn btn-dark">Continuar</button>
                </div>

                </div>
            </div>
        </EditForm>
    </div>
</div>


@code{ 
}